<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div><b>message: </b><%= message %></div>
		<div><b>status: </b><%= error.status %></div>
		<div><b>stack: </b><%= error.stack %></div>
	</body>
</html>