<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>

		<a href="/">home</a>
		<img src='<%= user.picture %>'></img>
		<p><%= user.google.email %></p>
		<p>logged in <%= user.loginCount %> times</p>

	</body>
</html>